<h1>New blog</h1>

<%= form_for @blog do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'tinymce' %>
  </div>
  <%= f.submit %>
<% end %>


<%#= render "form", blog: @blog %>

<!--<br>-->

<!--<div>-->
  <%#= link_to "Back to blogs", blogs_path %>
<!--</div>-->
