<%= form_with(model: life_stage) do |form| %>
  <% if life_stage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(life_stage.errors.count, "error") %> prohibited this life_stage from being saved:</h2>

      <ul>
        <% life_stage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
